<h1>{{name}}<span class="kind">Class</span><span class="version">{{#if since}}{{since}}{{/if}}</span></h1>
{{#if foundAt}}<small class="source"><a href="https://github.com/yusukehirao/blockdown/blob/master/{{{file}}}#L{{{line}}}" title="Source code from Github">code</a></small>{{/if}}
{{#if extends}}
<dl class="extends">
	<dt>SuperClass</dt>
	<dd>{{#crossLink extends}}{{/crossLink}}</dd>
</dl>
{{/if}}

{{#if deprecated}}
<strong class="deprecated">
	{{!-- {{deprecationMessage}} --}}
	<p>このクラスは<strong>非推奨</strong>もしくは<strong>削除予定</strong>です。</p>
</strong>
{{/if}}

<section class="description">
	<h1>Description</h1>
	{{{classDescription}}}
</section>

{{#is_constructor}}
<div id="constructor">
	{{>method}}
</div>
{{/is_constructor}}

<section id="classdocs">
	<header id="index">
		{{!-- {{#if methods}}
		<nav class="methods">
			<h1>Methods !!!!</h1>
						<ul class="methods{{#if extends}} extends{{/if}}">
				{{#methods}}
				<li class="method{{#if access}} {{access}}{{/if}}{{#if deprecated}} deprecated{{/if}}{{#if overwritten_from}} overwritten_from{{/if}}{{#if extended_from}} extended_from{{/if}}">
					<a href="#method_{{name}}">{{name}}</a>
					{{#if static}}
					<span class="static">static</span>
					{{/if}}
					{{#if deprecated}}
					<span class="deprecated">deprecated</span>
					{{/if}}{{methodDescription}}
				</li>
				{{/methods}}
			</ul>
			<dl class="methods{{#if extends}} extends{{/if}}">
				{{#methods}}
				<dt class="method{{#if access}} {{access}}{{/if}}{{#if deprecated}} deprecated{{/if}}{{#if overwritten_from}} overwritten_from{{/if}}{{#if extended_from}} extended_from{{/if}}">
					<a href="#method_{{name}}">{{name}}</a>
					{{#if static}}
					<span class="static">static</span>
					{{/if}}
					{{#if deprecated}}
					<span class="deprecated">deprecated</span>
					{{/if}}
				</dt>
				<dd class="method{{#if access}} {{access}}{{/if}}{{#if deprecated}} deprecated{{/if}}{{#if overwritten_from}} overwritten_from{{/if}}{{#if extended_from}} extended_from{{/if}}">
					{{{methodDescription}}}
				</dd>
				{{/methods}}
			</dl>
		</nav>
		{{/if}}
		{{#if properties}}
		<nav class="properties">
			<h1>Properties</h1>
			<ul class="properties{{#if extends}} extends{{/if}}">
				{{#properties}}
				<li class="property{{#if access}} {{access}}{{/if}}{{#if deprecated}} deprecated{{/if}}{{#if overwritten_from}} overwritten_from{{/if}}{{#if extended_from}} extended_from{{/if}}">
					<a href="#property_{{name}}">{{name}}</a>
					{{#if static}}
					<span class="static">static</span>
					{{/if}}
					{{#if deprecated}}
					<span class="deprecated">deprecated</span>
					{{/if}}
				</li>
				{{/properties}}
			</ul>
		</nav>
		{{/if}} --}}
		{{#if attrs}}
		<nav class="attrs">
			<h1>Attributes</h1>
			<ul class="attrs{{#if extends}} extends{{/if}}">
				{{#attrs}}
				<li class="attr{{#if access}} {{access}}{{/if}}{{#if deprecated}} deprecated{{/if}}{{#if overwritten_from}} overwritten_from{{/if}}{{#if extended_from}} extended_from{{/if}}">
					<a href="#attr_{{name}}">{{name}}</a>
				</li>
				{{/attrs}}
			</ul>
		</nav>
		{{/if}}
		{{#if events}}
		<nav class="events">
			<h1>Events</h1>
			<ul class="events{{#if extends}} extends{{/if}}">
				{{#events}}
				<li class="event{{#if access}} {{access}}{{/if}}{{#if deprecated}} deprecated{{/if}}{{#if overwritten_from}} overwritten_from{{/if}}{{#if extended_from}} extended_from{{/if}}">
					<a href="#event_{{name}}">{{name}}</a>
					{{#if static}}
					<span class="static">static</span>
					{{/if}}
					{{#if deprecated}}
					<span class="deprecated">deprecated</span>
					{{/if}}
				</li>
				{{/events}}
			</ul>
		</nav>
		{{/if}}
	</header>
	{{#if properties}}
	<section id="properties">
		<h1>Properties</h1>
		{{#properties}}
			{{>props}}
		{{/properties}}
	</section>
	{{/if}}
	{{#if methods}}
	<section id="methods">
		<h1>Methods</h1>
		{{#methods}}
			{{>method}}
		{{/methods}}
	</section>
	{{/if}}
	{{#if attrs}}
	<section id="attrs">
		<h1>Attributes</h1>
		{{#attrs}}
			{{>attrs}}
		{{/attrs}}
	</section>
	{{/if}}
	{{#if events}}
	<section id="events">
		<h1>Events</h1>
		{{#events}}
			{{>events}}
		{{/events}}
	</section>
	{{/if}}
</section>
