<section id="method_{{name}}" class="method item{{#if access}} {{access}}{{/if}}{{#if extended_from}} inherited{{/if}}">
	<h1>{{name}}<span class="kind">{{#is_constructor}}Constructor{{else}}Method{{/is_constructor}}</span><span class="version">{{since}}</span></h1>
	{{#if foundAt}}<small class="source"><a href="https://github.com/yusukehirao/blockdown/blob/master/{{{file}}}#L{{{line}}}" title="Source code from Github">code</a></small>{{/if}}

	<div class="flags">
	{{#if deprecated}}
		<span class="flag deprecated"{{#if deprecationMessage}} title="{{deprecationMessage}}"{{/if}}>deprecated</span>
	{{/if}}
	{{#if access}}
		<span class="flag {{access}}">{{access}}</span>
	{{/if}}
	{{#if final}}
		<span class="flag final">final</span>
	{{/if}}
	{{#if static}}
		<span class="flag static">static</span>
	{{/if}}
	{{#if chainable}}
		<span class="flag chainable">chainable</span>
	{{/if}}
	{{#if async}}
		<span class="flag async">async</span>
	{{/if}}
	</div>

	<div class="reference">
		<code class="name">{{name}}</code>
		{{#if params}}
		<span class="paren">(</span>
		<ul class="args">
			{{#params}}
			<li class="arg">
				{{#if optional}}<span class="optional_bracket">[</span>{{/if}}
				{{#if multiple}}<span class="multiple_ellipsis">...</span>{{/if}}
				<code class="name">{{name}}</code>
				<span class="type_separator">:</span>
				{{#if multiple}}
				<code class="type">{{type}}[]</code>
				{{else}}
				<code class="type">{{type}}</code>
				{{/if}}
				{{#if optdefault}}
					<span class="default_equal">=</span>
					<code class="default">{{optdefault}}</code>
				{{/if}}
				{{#if optional}}<span class="optional_bracket">]</span>{{/if}}
				{{else}}
			</li>
			{{/params}}
		</ul>
		<span class="paren">)</span>
		{{else}}
		<span class="paren empty">()</span>
		{{/if}}
		{{#is_constructor}}{{else}}
		<span class="type_separator">:</span>
		<code class="type">
			{{#if return}}
			{{#crossLink returnType}}{{/crossLink}}
			{{else}}
			void
			{{/if}}
		{{/is_constructor}}
		</code>
	</div>

	{{#if overwritten_from}}
	<dl class="extends">
		<dt class="override">Override</dt>
		<dd>
			<a href="{{crossLinkRaw overwritten_from/class}}#method_{{overwritten_from/name}}">{{overwritten_from/class}}</a>
		</dd>
	</dl>
	{{else}}
		{{#if extended_from}}
		<dl class="extends">
			<dt class="extends">Extends</dt>
			<dd>
				<a href="{{crossLinkRaw extended_from}}#method_{{name}}">{{extended_from}}</a>
			</dd>
		</dl>
		{{else}}
		{{/if}}
	{{/if}}

	{{#if deprecationMessage}}
	<strong class="deprecated">
		<p>このメソッドは<strong>非推奨</strong>もしくは<strong>削除予定</strong>です。</p>
	</strong>
	{{/if}}

	{{#is_constructor}}{{else}}
	<section class="description">
		<h1>Description</h1>
		{{{methodDescription}}}
	</section>
	{{/is_constructor}}

	{{#if params}}
	<section class="params">
		<h1>Parameters</h1>
		<table>
		{{#params}}
			<tr>
				<th scope="col">
					{{#if optional}}
					<code class="name optional">[{{name}}{{#if optdefault}}={{optdefault}}{{/if}}]</code>
					<code class="type">:{{#crossLink type}}{{/crossLink}}</code>
					<span class="flag optional" title="This parameter is optional.">optional</span>
					{{else}}
					<code class="name">{{name}}</code>
					<code class="type">:{{#crossLink type}}{{/crossLink}}</code>
					{{/if}}
					{{#if multiple}}
						<span class="flag multiple" title="This argument may occur one or more times.">multiple</span>
					{{/if}}
				</th>
			</tr>
			<tr>
				<td >
					{{{description}}}
					{{#if props}}
					<table>
						{{#props}}
						<tr>
							<th scope="col">
								{{#if optional}}
								<code class="name optional">[{{name}}{{#if optdefault}}={{optdefault}}{{/if}}]</code>
								<span class="type">{{#crossLink type}}{{/crossLink}}</span>
								<span class="flag optional" title="This parameter is optional.">optional</span>
								{{else}}
								<code class="name">{{name}}</code>
								<span class="type">{{#crossLink type}}{{/crossLink}}</span>
								{{/if}}
							</th>
						</tr>
						<tr>
							<td>
								{{{description}}}
								{{#if props}}
									<table>
										{{#props}}
										<tr>
											<th scope="cols">
												{{#if optional}}
												<code class="name optional">[{{name}}{{#if optdefault}}={{optdefault}}{{/if}}]</code>
												<span class="type">{{#crossLink type}}{{/crossLink}}</span>
												<span class="flag optional" title="This parameter is optional.">optional</span>
												{{else}}
												<code class="name">{{name}}</code>
												<span class="type">{{#crossLink type}}{{/crossLink}}</span>
												{{/if}}
											</th>
										</tr>
										<tr>
											<td>
												{{{description}}}
											</td>
										</tr>
										{{/props}}
									</table>
								{{/if}}
							</td>
						</tr>
						{{/props}}
					</table>
					{{/if}}
				</td>
			</tr>
		{{/params}}
		</table>
	</section>
	{{/if}}

{{!-- 	{{#return}}
		<div class="returns">
			<h4>Returns:</h4>

			<div class="returns-description">
				{{#if description}}
					{{#if type}}
						<span class="type">{{#crossLink type}}{{/crossLink}}</span>:
					{{/if}}
					{{{description}}}
				{{else}}
					{{#if type}}
						<span class="type">{{#crossLink type}}{{/crossLink}}</span>:
					{{/if}}
				{{/if}}
			</div>
		</div>
	{{/return}} --}}

	{{#example}}
	<section class="example">
		<h1>Example</h1>
		<div class="example-content">
			{{{.}}}
		</div>
	</section>
	{{/example}}
</section>
